<h2>Team Leaders</h2>

<div *ngFor="let Leader of allLeaders">
  <button (click)="onSelectLeader(Leader)">{{Leader.name}}</button>
</div>

<div *ngIf="selectedLeader">
  <h2>{{selectedLeader.name}}'s Team</h2>
  <ol>
    <li *ngFor="let student of allStudents">
      {{student.name}}
      <button (click)="selectedStudent(student)"> View Attendance and grades </button>

    </li>

  </ol>
  <div class="chosen" *ngIf="selected">

    <app-view-attendence [selectedStudent]="selectedStud" ></app-view-attendence>


    <app-view-grades [selectedStudent]="selectedStud"></app-view-grades>


  </div>
</div>
