<h2>STUDENTS</h2>
<div *ngIf="grades.length > 1">
  <ul>
    <li *ngFor="let item of grades">
      <p>Task: {{ item[0]?.task }}</p>
      <p>Mentor: {{ item[0]?.mentor }}</p>
      <p>Grade: {{ item[0]?.grade }}</p>
      <p>Comment: {{ item[0]?.comment }}</p>
    </li>
  </ul>
</div>
<div *ngIf="grades.length === 0">
  <p>No attendance records available.</p>
</div>

<div *ngIf="grades.length === 1">
  <ul>
    <li >
      <p>Task: {{ grades[0]?.task }}</p>
      <p>Mentor: {{ grades[0]?.mentor }}</p>
      <p>Grade: {{ grades[0]?.grade }}</p>
      <p>Comment: {{ grades[0]?.comment }}</p>
    </li>
  </ul>
</div>

