
.right
{
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  padding:20px;
  margin-top:20px;



}
.container {
  display: flex;

}

.card {
  margin: 2%;

  width: 150px;
  height: 80px;
  color: #0c1a83;
  border-radius: 10px;
  font-family: "Times New Roman";
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
  transition: .2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding-top: 60px;

}

.card > span {
  display: block;
  margin: auto;
  max-width: 40px;
}

.container:hover .card {
  filter: blur(1px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}

.container:hover .card:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: rgba(130, 53, 102, 0.07);
  color: #0c1a83;
}

.chosen
{
  height: 100%;
  margin: 0;
  padding: 0;
}
#mybutton
{
  background:#0c1a83;
  color:white;
}



