<main class="main">
  <div class="right">
    <div class="container">
      <ng-container *ngFor="let proj of projects">
        <div class="card">
          <span>{{proj}}</span>
        </div>
      </ng-container>


    </div>
    <button mat-icon-button id="mybutton" (click)="addProject()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <form (ngSubmit)="submitForm()" *ngIf="addingActivity==true">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="formData.name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="formData.email">

    <button type="submit">Submit</button>
  </form>



</main>

